---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a> 
	<main>
		<h1>Astro Home !!</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #000;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
